.wrapper
.side-bar
  .header
    %h3.header__name
      =current_user.name
    %ul.header__lists
      %li.list
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
 
  .groups
    - current_user.groups.each do |group|
      .groups-member
        = link_to group_messages_path(group) do   
          .groups-member--name
            = group.name
          .groups-member--new
            =group.show_last_message


  -# .groups
  -#   - current_user.groups.each do |group|
  -#     .groups-member
  -#       = link_to group_messages_path(group) do   
  -#         .groups-member--name
  -#           = group.name
  -#         .groups-member--new
  -#           メッセージはまだありません。

-# .main-content
-#   .main-content__header
-#     .main-content__header--name
-#       %h2 ABCD
-#       %p efgh

-#     .main-content__header-edit-btn
-#       %p Edit

-#     .main-content__form
-#       .input-box
-#         = form_for [@group, @message] do |f|
-#           = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#           .form__mask
-#             = f.label :image, class: 'form__mask__image' do
-#               = fa_icon 'picture-o', class: 'icon'
-#               = f.file_field :image, class: 'hidden'
-#           = f.submit 'Send', class: 'form__submit'

-# .wrapper
-# .main-contents
-#     .main-contents__list
-#     = fa_icon 'plus', class: 'icon-second'
-#     .main-contents__list
-#     = fa_icon 'cog', class: 'icon'
-#     .main-contents__list
-#     = fa_icon 'trash', class: 'icon'

-# .left-contents
-#     .left-contents__first
-#         %pグループEXP
-#         %h2はじめました
-#         %h5Rubyの父
-#     .left-contents__second
-#     .left-contents__third

-# .right-contents
-#     .right-contents__first
-#     .right-contents__second
-#     .right-contents__third
-#     .right-contents__four
-#     .right-contents__five

-# .right-contents-footer
-#     .right-contents__input-box
-#     .right-contents__post
-#         %h1 POST